html, body {
    width: 100%;
}

body {
    padding-top:4.5rem;
}

a {
    text-decoration: none;
}

img {
    /* width: 700px;
    height: 500px; */
    width: 800px;
    height: 800px;
}

.navbar-nav a{
    margin-left: 30px;
}

#top {
    margin-top: -20px;
    padding-top:80px;
    background-color: #FFFFCC;
    padding-bottom: 80px;
}

.carousel-inner {
    margin-left:-8px;
}

h1 {
    font-weight: bold;
    text-align:center;
}

#intro {
    padding-top: 120px;
    background-color: #D9E5FF;
    padding-bottom: 150px;
}

#intro_list {
    list-style: none;
    line-height: 3em;
    letter-spacing: 0.1em;
}

#my_face {
    width: 350px;
    height: 350px;
}

#life {
    padding-top: 80px;
    padding-bottom: 100px;
}

p {
    letter-spacing: 0.1em;
    line-height: 2em;
}


.media img {
    width: 180px;
    height: 180px;
}

#skill {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color:#FFCCCC;
}

.progress-bar {
    transition:none;
}

.card-img-top {
    width: 150px;
    height: 150px;
    position: relative;
    left: 30%;
}

.card-body {
    text-align: center;
}

#adjust {
    min-width: 1px;
    padding-top:60px;
}

footer {
    padding-top: 120px;
    background-color: #EEEEEE;
    padding-bottom: 120px;
}

#footer_message {
    line-height: 1.8em;
    letter-spacing: 0.1em;
    text-align: left;
}


